.pozadinaLogin {
    background-image: url("https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/longisland/cvent_winery_18f6c46b-f1c0-4c9f-a002-67d261edd5d8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

